/*FONTS ---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500;600&family=Fjalla+One&family=Oswald:wght@200;300;400;500&display=swap');


body {
    background-image: url(../images/bw-background-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    
    color:#000000;
}
/* Header ----------------------------*/


#logoheader {
    height: 50px;
}

.nav-column li a {
    margin-top: 5px;
    color:#000000;
    font-size: 20px;
}

/* Hero ------------------------------*/

.hero-row {
    width: 100%;
    justify-content: center;
    padding-top: 0px;
    margin-bottom:500px;
}

.hero-heading {
    display: flex;
    justify-content: center;
}

.hero-row img {
    border-radius: 50%;
    max-width:70%;
}

/* Ethos Section ---------------------*/

.ethos-header-row {
    background-color: #ffffff;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 50px;
}
.ethos-body-row {
    background-color: #ffffff;
    justify-content: space-evenly;
    padding:1em;
}
.ethos-column {
    text-align: justify;
    
}
.ethos-column h2 {
    text-align: center;
    padding-bottom: 20px;
}




















/* Media Queries ----------------------*/

@media screen and (max-width: 480px) {

#logoheader {
    height: 35px;
}
.hero-heading {
    text-align: center;
    font-size: 75px;
    padding-top: 0px;
}
.hero-row {
    width: 100%;
    justify-content: center;
    padding-top: 150px;
    margin-bottom:500px;
}